@font-face {
  font-family: "Modern Pictograms";
  src: url(/fonts/modernpictogramspro_234.eot),
    url(/fonts/modernpictogramspro_234.ttf),
    url(/fonts/modernpictogramspro_234.woff);
}

@font-face {
  font-family: "risd-sans";
  src: url('/fonts/RISD_Sans-Regular.woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "risd-sans";
  src: url('/fonts/RISD_Sans-Regular_Italic.woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'risd-serif-complete';
  src: url('/fonts/RISD_Serif_Complete-Light.woff2');
  font-style: normal;
  font-weight: 300;
}

:root {
  --risd-sans: 'risd-sans', Helvetica, Arial, sans-serif;
  --risd-serif: 'risd-serif-complete', Georgia, serif;
}
