:root {
  --risd-color-blue: #2454FF;
  --risd-color-black: #000;
  --risd-color-white: #FFF;
  --risd-color-off-white: #F5F5F3;

  --risd-heading-font-weight: 300;
  --risd-body-font-weight: 400;

  /* risd refactor h2 */
  --risd-h1-font-size: 48px;
  --risd-h1-line-height: 56px;
  --risd-h1-letter-spacing: -1px;

  /* risd refactor h3 */
  --risd-h2-font-size: 24px;
  --risd-h2-line-height: 32px;
  --risd-h2-letter-spacing: 0;

  /* risd refactor h4 */
  --risd-h3-font-size: 22px;
  --risd-h3-line-height: 32px;
  --risd-h3-letter-spacing: 0;

  /* risd refactor h5 */
  --risd-h4-font-size: 16px;
  --risd-h4-line-height: 32px;
  --risd-h4-letter-spacing: 0;

  /* risd refactor h2 sans */
  --risd-body-xxl-font-size: 36px;
  --risd-body-xxl-line-height: 42px;
  --risd-body-xxl-letter-spacing: 0;

  /* risd refactor h4 sans */
  --risd-body-xl-font-size: 24px;
  --risd-body-xl-line-height: 32px;
  --risd-body-xl-letter-spacing: 0px;

  --risd-body-lg-font-size: 16px;
  --risd-body-lg-line-height: 1.4;
  --risd-body-lg-letter-spacing: 0px;

  --risd-p-font-size: 16px;
  --risd-p-line-height: 1.4;
  --risd-p-letter-spacing: 0px;

  --risd-caption-font-size: 12px;
  --risd-caption-line-height: 1.3;
  --risd-caption-letter-spacing: 0px;

  --form-element-font-size: var(--risd-body-lg-font-size);
  --form-element-line-height: var(--risd-body-lg-line-height);
  --form-element-letter-spacing: var(--risd-body-lg-letter-spacing);

  /* spacing */
  --risd-spacing-2x: 8px;
  --risd-spacing-4x: 16px;
  --risd-spacing-6x: 24px;
  --risd-spacing-8x: 32px;
  --risd-spacing-10x: 40px;
  --risd-spacing-12x: 64px;
  --risd-spacing-14x: 80px;

  --form-question-spacing: var(--risd-spacing-6x);
  --form-label-input-spacing: var(--risd-spacing-2x);
  --form-element-color: var(--risd-color-black);
  --form-element-border-width: 2px;

  /* Call to Action : cta. both links and buttons */
  --cta-border-width: 2px;
  --cta-border-color-default: var(--risd-color-black);
  --cta-border-color-active: var(--risd-color-blue);
  --cta-background-color-default: var(--risd-color-white);
  --cta-background-color-active: var(--risd-color-blue);
  --cta-color-default: var(--risd-color-black);
  --cta-color-active: var(--risd-color-white);
}

@media screen and (min-width: 768px) {
  :root {
    /* risd refactor h2 */
    --risd-h1-font-size: 72px;
    --risd-h1-line-height: 80px;
    --risd-h1-letter-spacing: -1px;

    /* risd refactor h3 */
    --risd-h2-font-size: 48px;
    --risd-h2-line-height: 56px;
    --risd-h2-letter-spacing: -1px;

    /* risd refactor h4 */
    --risd-h3-font-size: 36px;
    --risd-h3-line-height: 42px;
    --risd-h3-letter-spacing: 0;

    /* risd refactor h5 */
    --risd-h4-font-size: 24px;
    --risd-h4-line-height: 32px;
    --risd-h4-letter-spacing: 0;

    /* risd refactor h3 sans */
    --risd-body-xxl-font-size: 48px;
    --risd-body-xxl-line-height: 56px;
    --risd-body-xxl-letter-spacing: -1px;

    /* risd refactor h4 sans */
    --risd-body-xl-font-size: 36px;
    --risd-body-xl-line-height: 42px;
    --risd-body-xl-letter-spacing: 0px;

    --risd-body-lg-font-size: 20px;
    --risd-body-lg-line-height: 1.35;
    --risd-body-lg-letter-spacing: 0px;

    --risd-p-font-size: 16px;
    --risd-p-line-height: 1.4;
    --risd-p-letter-spacing: 0px;

    --risd-caption-font-size: 12px;
    --risd-caption-line-height: 1.3;
    --risd-caption-letter-spacing: 0px;

    --form-question-spacing: var(--risd-spacing-8x);
  }
}

:is(h1, h2, h3, h4, h5),
.font-common-heading {
  font-family: var(--risd-serif);
  font-weight: var(--risd-heading-font-weight);
}

:is(
  .font-body-lg,
  .font-body-xl,
  .font-body-xxl,
  p,
  caption,
  input[type="email"],
  input[type="number"],
  input[type="password"],
  input[type="radio"],
  input[type="range"],
  input[type="search"],
  input[type="submit"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  select,
  textarea
),
.font-common-sans {
  font-family: var(--risd-sans);
  font-weight: var(--risd-body-font-weight);
}

h1, .font-h1 {
  font-size: var(--risd-h2-font-size);
  line-height: var(--risd-h2-line-height);
  letter-spacing: var(--risd-h2-letter-spacing);
}
h2, .font-h2 {
  font-size: var(--risd-h3-font-size);
  line-height: var(--risd-h3-line-height);
  letter-spacing: var(--risd-h3-letter-spacing);
}
h3, .font-h3 {
  font-size: var(--risd-h4-font-size);
  line-height: var(--risd-h4-line-height);
  letter-spacing: var(--risd-h4-letter-spacing);
}
h4, .font-h4 {
  font-size: var(--risd-h5-font-size);
  line-height: var(--risd-h5-line-height);
  letter-spacing: var(--risd-h5-letter-spacing);
}
h5, .font-h5 {
  font-size: var(--risd-h5-font-size);
  line-height: var(--risd-h5-line-height);
  letter-spacing: var(--risd-h5-letter-spacing);
}
.font-body-lg {
  font-size: var(--risd-body-lg-font-size);
  line-height: var(--risd-body-lg-line-height);
  letter-spacing: var(--risd-body-lg-letter-spacing);
}
.font-body-xl {
  font-size: var(--risd-body-xl-font-size);
  line-height: var(--risd-body-xl-line-height);
  letter-spacing: var(--risd-body-xl-letter-spacing);
}
.font-body-xxl {
  font-size: var(--risd-body-xxl-font-size);
  line-height: var(--risd-body-xxl-line-height);
  letter-spacing: var(--risd-body-xxl-letter-spacing);
}

body,
:is(p, a, li),
.font-p {
  font-size: var(--risd-p-font-size);
  line-height: var(--risd-p-line-height);
  letter-spacing: var(--risd-p-letter-spacing);
}
:is(html, .no-touch, .supports-touch) :is(a, a:visited) {
  color: var(--cta-color-default);
  border-bottom: var(--cta-border-width) solid var(--cta-border-color-active);
  text-decoration: none;
  outline: 0px;
  background: none;
}
:is(html, .no-touch, .supports-touch) a:is(:hover, :focus, :active) {
  color: var(--cta-border-color-active);
}
caption, .font-caption {
  font-size: var(--risd-caption-font-size);
  line-height: var(--risd-caption-line-height);
  letter-spacing: var(--risd-caption-letter-spacing);
}

label:is(.form_label),
:is(html, .no-touch, .supports-touch) button:is(.default),
input[type="email"],
input[type="number"],
input[type="password"],
input[type="radio"],
input[type="radio"] + label,
input[type="range"],
input[type="search"],
input[type="submit"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
textarea,
label.form_label,
label.form_label span,
div.form_label,
div.form_label a,
div.form_responses select,
.form-elements {
  font-size: var(--form-element-font-size);
  line-height: var(--form-element-line-height);
  letter-spacing: var(--form-element-letter-spacing);
  color: var(--form-element-color);
}

input:is(
    [type="email"],
    [type="password"],
    [type="text"],
    [type="tel"],
    [type="url"]
  ) {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: var(--form-element-border-width) solid var(--form-element-color);
  padding: 0 var(--risd-spacing-4x) var(--risd-spacing-2x) 0;
}

:is(html, .no-touch, .supports-touch) button:is(.default),
.cta-elements {
  border-style: solid;
  border-width: var(--cta-border-width);
  border-color: var(--cta-border-color-default);
  background: var(--cta-background-color-default);
  color: var(--cta-color-default);
}

button:is(.default):is(:hover, :active, :focus),
:is(html, .no-touch, .supports-touch) button.default:hover,
.cta-elements:is(:hover, :acitve, :focus) {
  border-color: var(--cta-border-color-active);
  background: var(--cta-background-color-active);
  color: var(--cta-color-active);
}

.form_container {
  width: 100%;
  max-width: 40em;
}

.form_container :is(input, select, textarea) {
  width: 100%;
}

.form_container .form_birthdate select,
.form_container input[type="radio"] {
  width: auto;
}

:is(.html, no-touch, .supports-touch) div.form_question {
  margin-bottom: var(--form-question-spacing);
}
:is(div.form_label, label.form_label) + :is(div.form_responses, div.form_response) {
  margin-top: var(--form-label-input-spacing);
}

fieldset > *:not(:last-child) {
  margin-bottom: var(--form-question-spacing);
}
fieldset :is(div.form_label, label.form_label) {
  margin-bottom: var(--form-label-input-spacing);
}

:is(div.form_label, label.form_label) strong {
  font-weight: normal;
}

div.form_responses select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: var(--cta-border-width) solid var(--risd-color-black);
  padding: 10px 65px 10px 21px;
  background: var(--risd-color-white);
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjYiIGhlaWdodD0iMjciIHZpZXdCb3g9IjAgMCAyNiAyNyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgY2xpcC1wYXRoPSJ1cmwoI2NsaXAwXzUwOTFfNzI0NSkiPgo8cGF0aCBkPSJNMi40Mzc1IDguNTAzOTFMMTIuNzc4OSAxOC44NDUzTDIzLjA5MTIgOC41MzMwNiIgc3Ryb2tlPSIjMTExMTExIiBzdHJva2Utd2lkdGg9IjQiLz4KPC9nPgo8ZGVmcz4KPGNsaXBQYXRoIGlkPSJjbGlwMF81MDkxXzcyNDUiPgo8cmVjdCB3aWR0aD0iMjYiIGhlaWdodD0iMjYiIGZpbGw9IndoaXRlIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwIDAuMzc4OTA2KSIvPgo8L2NsaXBQYXRoPgo8L2RlZnM+Cjwvc3ZnPgo=");
  background-repeat: no-repeat;
  background-position: right 21px center;
  font-size: 22px;
  border-radius: 0px;
  height: 58px;
}
:is(div.form_responses, div.form_response) textarea,
textarea {
  border: var(--form-element-border-width) solid var(--form-element-color);
}

.c_background--about-section.cr {
  background-size: 100%;
  background-repeat: repeat-y;
  background-color: white;
}

* {
  background-repeat: no-repeat;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  cursor: default;
  text-size-adjust: 100%;
}
footer.cr,
header.cr,
nav.cr,
section.cr {
  display: block;
}
body {
  margin: 0px;
}
main.cr {
  display: block;
}
svg.cr {
  vertical-align: middle;
}
svg.cr {
  fill: currentcolor;
}
svg.cr:not(:root) {
  overflow: hidden;
}
button.cr {
  margin: 0px;
}
button.cr {
  background-color: transparent;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
}
button.cr {
  overflow: visible;
}
button.cr {
  text-transform: none;
}
button.cr {
  appearance: button;
  -webkit-appearance: button;
  -ms-appearance: button;
  -moz-appearance: button;
}
a, button.cr {
  touch-action: manipulation;
}
[hidden] {
  display: none;
}
[aria-hidden="false"][hidden]:not(:focus) {
  clip: rect(0px, 0px, 0px, 0px);
  display: inherit;
  position: absolute;
}
* {
  padding: 0px;
  border: 0px;
  margin: 0px;
}
body {
  font-family: var(--risd-sans);
  color: var(--risd-color-black);
  background-color: var(--risd-color-white);
  background-repeat: repeat;
}
h1 {
  margin: 0px;
}
button.cr {
  cursor: pointer; outline: 0px;
}

/* ? not used : start */
.c_global-nav__button--nav-toggle.cr::after { display: block; margin-right: auto; margin-left: auto; background-position: 50% center; background-repeat: no-repeat; content: ""; }
.c_site__header.cr { position: absolute; top: 0px; left: 0px; right: 0px; z-index: 400; background-color: #000; }
/* ? not used : end */

.c_site__content.cr {
  flex-grow: 1;
}

/* ? not used : start */
.c_global-nav.cr { display: grid; flex-wrap: wrap; max-width: calc(1151px + 4rem); margin-left: auto; margin-right: auto; background-color: #333; color: #fff; gap: 1px 1px; grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; grid-template-rows: repeat(2,36px); }
@media screen and (min-width: 961px) {
  .c_global-nav.cr { grid-template-columns: min-content auto auto auto auto auto auto auto auto auto auto auto auto min-content; }
}
.c_global-nav__item.cr { font-size: 12px; line-height: 1.5; display: flex; flex-basis: 100%; align-items: center; justify-content: center; padding: 1.5rem; background-color: #000; color: #fff; font-weight: 700; text-align: center; }
@media screen and (min-width: 961px) {
  .c_global-nav__item.cr { padding: 0.75rem; }
}
.c_global-nav__item--primary.cr { grid-column-end: span 12; }

@media screen and (min-width: 513px) {
  .c_global-nav__item--primary.cr { grid-column-end: span 6; }
}
@media screen and (min-width: 769px) {
  .c_global-nav__item--primary.cr { grid-column-end: span 4; }
}

@media screen and (min-width: 961px) {
  .c_global-nav__item--primary.cr { grid-column-end: span 2; }
}
.c_global-nav__item--secondary.cr {
  grid-column-end: span 12;
}
@media screen and (min-width: 769px) {
  .c_global-nav__item--secondary.cr { grid-column-end: span 8; }
}
@media screen and (min-width: 961px) {
  .c_global-nav__item--secondary.cr { grid-column-end: span 2; grid-row-end: span 2; }
}
.c_global-nav__item--tall.cr { grid-row-end: span 2; }
.c_global-nav__item--wide.cr { grid-column-end: span 12; /* change from 10 to account for hiding mobile menu and search in Slate */}
@media screen and (min-width: 961px) {
  .c_global-nav__item--wide.cr { grid-column-end: auto; }
}
.c_global-nav__logo.cr { flex: 1 0 0px; min-height: 72px; padding-left: 2rem; padding-right: 2rem; }
.c_global-nav__logo.cr h1 { font-size: inherit; }
.c_global-nav__logo.cr svg.cr { height: 2em; }
.c_global-nav__logo.cr path.cr { fill: #fff; }
.c_global-nav__button.cr { flex: 0 0 6rem; min-height: 72px; padding: 0px 2rem; }
.c_global-nav__button--nav-toggle.cr { line-height: 1; }
.c_global-nav__button--nav-toggle.cr::after { width: 2rem; height: 2rem; /* background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 48 48' xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='1.414'%3E %3Cpath fill='%23fff' d='M4.544 7.512h38.912v5H4.544zM4.544 21.5h38.912v5H4.544zM4.544 35.488h38.912v5H4.544z'/%3E %3C/svg%3E"); */ background-size: contain; }
/* @media screen and (min-width: 961px) { .c_global-nav__button--nav-toggle.cr, .c_global-nav__button--search-toggle.cr { display: none; } } */
.c_global-nav__button--nav-toggle.cr, .c_global-nav__button--search-toggle.cr { display: none; }
.c_global-nav__link.cr { display: none; }
@media screen and (min-width: 961px) {
  .c_global-nav__link.cr { display: flex; }
}
.c_global-nav__link.cr:focus, .c_global-nav__link.cr:hover { background-color: #fff; color: #000; }
@media screen and (min-width: 961px) { .c_global-nav__button--nav-toggle.cr { order: 1; } }
@media screen and (min-width: 961px) { .c_global-nav__logo.cr { order: 2; } }
@media screen and (min-width: 961px) { .c_global-nav__link.cr[data-page="about"] { order: 4; } }
@media screen and (min-width: 961px) { .c_global-nav__link.cr[data-page="news"] { order: 11; } }
@media screen and (min-width: 961px) { .c_global-nav__link.cr[data-page="academics"] { order: 5; } }
@media screen and (min-width: 961px) { .c_global-nav__link.cr[data-page="admissions"] { order: 6; } }
@media screen and (min-width: 961px) { .c_global-nav__link.cr[data-page="continuing-ed"] { order: 8; } }
@media screen and (min-width: 961px) { .c_global-nav__link.cr[data-page="executive-ed"] { order: 15; } }
@media screen and (min-width: 961px) { .c_global-nav__link.cr[data-page="student-life"] { order: 12; } }
@media screen and (min-width: 961px) { .c_global-nav__link.cr[data-page="alumni"] { order: 7; } }
@media screen and (min-width: 961px) { .c_global-nav__link.cr[data-page="museum"] { order: 13; } }
@media screen and (min-width: 961px) { .c_global-nav__link.cr[data-page="giving"] { order: 14; } }
@media screen and (min-width: 961px) { .c_global-nav__link.cr[data-page="support"] { order: 9; } }
/* ? not used : end */

.c_page.cr {
  display: flex;
  min-height: 100vh;
  margin-top: 72px;
  flex-direction: column;
}
.c_page-content.cr {
  margin-top: 4rem !important;
  margin-bottom: 1rem;
}
.c_page-content__title-container.cr {
  position: relative;
  display: flex;
  max-width: 1152px;
  margin-right: auto;
  margin-bottom: 1rem;
  margin-left: auto;
}
@media screen and (min-width: 961px) {
  .c_page-content__title-link.cr {
    display: block;
  }
}

.c_page-content__title.cr {
  background-color: #00852a;
  display: none;
  padding: 1rem;
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-decoration: none;
  text-transform: uppercase;
}
@media screen and (min-width: 961px) {
  .c_page-content__title.cr {
    display: block;
    margin-right: 1rem;
  }
}
.c_page-content__container.cr {
  position:relative;
  display:flex;
  max-width:1152px;
  flex-flow:row wrap;
  margin-right:auto;
  margin-left:auto;
}
.c_page-content__main.cr {
  width:100%;
}
.c_box--dark.cr {
  background-color:#000;
}
.c_search-results.cr {
  position:absolute;
  z-index:10;
  top:72px;
}
.c_search-results-box.cr {
  max-width:1152px;
  margin:0px auto;
}
.c_search-results__list.cr {
  width:100% !important;
}
.c_skip-to-content.cr a {
  left:-999px;
  position:absolute;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
  z-index:-999;
}
.c_skip-to-content.cr a:active,.c_skip-to-content.cr a:focus {
  color:rgb(255,255,255);
  background-color:rgb(0,0,0);
  left:auto;
  top:auto;
  width:30%;
  height:auto;
  overflow:auto;
  margin:10px 35%;
  padding:5px;
  border:4px solid rgb(255,255,0);
  text-align:center;
  font-size:1.2em;
  z-index:999;
}
a,body,div.cr,footer.cr,h1,h2,h3,h4.cr,header.cr,html,main.cr,p.cr,section.cr {
  box-sizing:border-box;
}
.c_cls-1.cr {
  fill:rgb(153,153,153);
}
.c_cls-1.cr {
  fill:rgb(153,153,153);
}
/* Slate application menu adjustments - make responsive width  */
#side {
  width:20%;
  box-sizing:border-box;
}
#main {
  width:80%;
}
div#menu {
  width:auto;
}
div#menu ul li a {
  width:100%;
  min-width:100px;
  padding:3px 0 5px 1px;
  overflow-wrap:break-word;
}
/* Adjust portfolio tabs at top and bottom for larger font and line height */
.plupload_filelist_footer {
  height:43px !important;
}
ul.tabs li a {
  height:30px;
  font-size:14px;
}
.slide {
  height:auto !important;
  width:auto !important;
}
/* Application and Financial Aid Checklist tabs ... tabs too small,text is cut off  */
#content ul.subtabs li a {
  height:30px;
  font-size:14px;
}

/* adjusting legend formatting to prevent problems with IE and Edge form display  */
#content legend {
  max-width:100%;
}
/* adjusting button input elements */
button.default,button[type=button] {
  padding:8px 15px;
}
/* os likert styling for mobile */
@media (max-width:799px) {
  div.form_likert div.form_responses {
  width:100% !important;
  min-width:95vw !important;
}
div.form_likert div.form_response[style*='8%'] {
  max-width:7% !important;
}
}/* os quick mobile fix */
#page {
  overflow-x:hidden;
}
#global {
  padding-right:5px;
}

:is(html, .no-touch,.supports-touch) :is(nav, footer) :is(a, a:link, a:visited, a:hover, a:active) {
  text-decoration: none;
  border: none;
  border-bottom: none;
}
